.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; 
  z-index: 2000; 
}
.one{
  border-radius: 20px;
  padding: 3px 10px;
  display: flex;
  color: #093341;
  font-weight: 600;  
}
.one:hover{
  color: antiquewhite;
  padding: 6px 20px;
}

.navbar{
  width:100%;
  height:75px;
  background: linear-gradient(to right, #ebb8c1, #ff2e63);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  z-index: 1;
  box-shadow: #282c3473 0px 3px 8px;
  position: fixed;
  z-index: 1000;
}

.sectins{
  display: flex;
}

.ul{
  display: flex;
  align-items: center;
  gap: 30px;
}

.li a {
  text-decoration: none;
  color: #f7e1a0;
  display: inline-block; 
  transition: all 0.4s ease;
  font-weight: 700;
  width: 100%;
}
.li{
  list-style-type: none;
}


.logoimg{
  height: 40px;
  width: 80px;
  border-radius: 40px;
}
.welcome{
  display: flex;
  margin-left: 90px;
  font-size: 23px;
  font-weight: 700;
  color: #2a2661;
}

.section{
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  overflow-x: auto;
}

.home{
  display: flex;
  margin-top: 0px;
  display: flex;
  align-items: center;  
  background: linear-gradient(to right, #22467b, #07070d);
  width: 100%;
  justify-content: space-between;
  padding: 150px 100px 100px 100px;
}

.intro{
  display: flex;
  flex-direction: column;
  color: wheat;
  justify-content: start;
  width: 50%;
}

.itsme{

}

.naame{
  margin: 10px 0px;
  font-weight: 700;
  font-size:40px;
}

.position{
  color:#e44f6b;
  font-size: larger;
  font-family: Georgia, serif;
}

.introduction{
  margin: 40px 0px;
  color: white;
}

.imgdiv{
  height: 240px;
  width: 240px;
  border-radius: 240px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 60px;
  box-shadow: 0 0 25px #ebb8c1, 0 0 35px #ff2e63;
  background: linear-gradient(to right, #ebb8c1, #ff2e63);
}

.profimg{
  border-radius: 50%;
  object-fit: contain;
  position: absolute;
  height: 220px;
  margin-left: 10px;
  margin-top: 20px;
}

.icons{
  display:flex;
  align-items: center;
  gap: 20px; 
}

.iconstyle{
  height: 30px;
  width: 30px;
  color:pink
}

.iconstyle:hover{
  color:rgb(237, 112, 133)
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: linear-gradient(to right, #07070d, #22467b);
  width: 100%;
}
.aboutn{
  color:white;
  margin: 5px 0px;
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 70px;
}
.abouth{
  display: flex;
  align-items: center; 
  width: 100%;
  justify-content: center;
  padding: 0px 100px 20px 100px;
}
.imgdiv1{
  height: 240px;
  width: 240px;
  border-radius: 240px;
  position: relative;
  margin-right: 30px;
  margin-bottom: 60px;
  box-shadow: 0 0 25px #ebb8c1, 0 0 35px #ff2e63;
  
}

.intro1{
  display: flex;
  flex-direction: column;
  color: wheat;
  justify-content:space-between;
  width: 70%;
  align-items: center;
}

.skills{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin:10px 0px;
  width: 100%;
}

.skillcard{
  display:flex;
  align-items: center;
  gap: 7px;  
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #ae9398;
  margin: 10px 0px;
  
}
.skillimg{
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 5px;
}

.lang{
  font-size: 14px;
  color: #282c34;
}

.projects{
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  background:linear-gradient(to right, #22467b, #262643);
  width: 100%;
}

.projectscards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.procards{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: azure;
  border-radius: 8px;
  margin-bottom: 40px;
}

.weatherimg{
  height: 140px;
  width: 210px; 
  border-radius: 8px 8px 0px 0px; 
}

.prodetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-top: 10px;
}
.proName{
  line-height: 19px;
  color: #07070d;
}
.proseq{
  color:#07357ac4;  
}
.proinfo{
  text-align: center;
  width: 190px;
  font-size: 9px;
  margin: 10px;
  color: rgb(0, 0, 0);
  font-family: Helvetica Neue;
  font-weight: 400;
}

.bottominfo{
  display: flex;
  width: 210px;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
  background-color: #07357ac4;
  border-radius: 0px 0px 8px 8px;
}
.openlink{
  font-size: 12px;
  color: rgb(142, 135, 135);
}
.withicon{
  display: flex;
  align-items: center;
  color: #14120d;
  gap: 3px;
  height: 20px;
  width: 50px;
  cursor: pointer;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(to right, #e6dbd9, #73f3f7);
  border-radius: 5px;
  box-shadow: 0 0 2px #b3edf3, 0 0 3px #55dade;
}
.contact{
  display:flex;
  width: 100%;
  background: linear-gradient(to right, #07070d, #22467b);  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.contactdetails{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.firstlast{
  display: flex;
  align-items: center;
  gap: 5px;
}

.inp {
  height: 40px;
  width: 250px;
  border-radius: 6px;
  border: none;         
  outline: none;        
  padding-left: 10px;  
  font-size: 14px;
  background-color: rgb(72, 75, 77);
  color: white; 
  font-weight: 500;
}

.inp::placeholder {
  color: rgb(247, 201, 201);
  opacity: 1;
  font-size: 12px; 
}

.textarea{
  height: 200px;
  width: 505px;
  border-radius: 6px;
  border: none;         
  outline: none;        
  padding-left: 10px;  
  font-size: 14px;
  background-color: rgb(72, 75, 77);
  color: rgb(255, 255, 255); 
  font-weight: 500;
  padding-top: 10px;
}

.textarea::placeholder {
  color: rgb(247, 201, 201);
  opacity: 1; 
}

.btn2{
  width: 505px;
  display: flex;
  align-items: start;
  padding-bottom: 60px;
}
.btnsubmit{
  height: 31px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 8px #ebb8c1, 0 0 11px #ff2e63;
  background: linear-gradient(to right, #ebb8c1, #ff2e63);
  color: #f7e1a0;  
  font-size: 15px;
  cursor: pointer;
}
.submitted{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.responce{
  color:#ffffff;
  font-size: 35px;
  text-align: center;
}

.inp::-webkit-outer-spin-button,
.inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}








@media(max-width:575.98px){
  .ul{
    gap: 10px;
    margin-left: 19px;
  }
  .navbar{
    padding: 0px 10px;
  }
  .welcome{
    display: none;
  }
  .home{
    display: flex;
    flex-direction: column;
    padding: 60px 20px 60px 20px;    
    align-items: center;
    margin-top: 60px;
    
  }
  .intro{
    width: 100%;
  }
  .imgdiv{
    margin: 50px 0px 30px 0px;
  }
  .abouth{
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 20px;    
    align-items: center;
  }

  .skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .imgdiv1{
    margin-top: 30px;
  }
  .intro1{
    width: 100%;
  }
  .projectscards{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .position{
    font-size: 24px;
  }
  .icons{
    display:flex;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .firstlast{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .textarea{
    width: 255px;
  }
  .btn2{
    width: 255px;
  }
  .contact{
    height: 650px;
  }
  
}

@media (min-width:576px) and (max-width:767.98px) {
  .welcome{
    display: none;
  }
  .home{
    display: flex;
    flex-direction: column;
    padding: 100px 40px 40px 40px;
    align-items: center;
  }
  .intro{
    width: 100%;
  }
  .abouth{
    display: flex;
    flex-direction: column;
    padding: 30px;    
    align-items: center;
  }
  .intro1{
    width: 100%;
  }
  .projectscards{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 100%;
  }
}

@media(min-width:768px) and (max-width:991.98px){
  .projectscards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 100%;
  }

}

@media (min-width:1200px) {
  .projectscards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 100%;
  }
}